.footer{
    width: 100%;
    height: 60px;
    background-color: #333; 
    color: #fff;
    display: flex;
}
.footer-container{
    width:100%;
    /* max-width: 1200px;
    margin: 0 auto;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px; */
    margin:auto;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 30px;
}

.footer-container p{
    font-size: 14px;
}   

.left{
    height: 20px;
   max-width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1rem;
}

.location{
 display: flex;
 margin-bottom: 0.7rem;   
}

.location p{
    line-height: 30px;

}
.right{
    display: flex;
    height: 100%;
    max-width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    max-width: 100%;
}
.social{
    margin-top: 1rem;
}

h4{
    font-size: 2px;
    margin-bottom: 0.5rem;
    padding-bottom: 0.6rem;

}
p{
    font-size: 1.2rem;
}

@media  screen and(max-width:700px) {
    .footer-container{
        grid-template-columns: 1fr;
    }
    
}