.hero-img{
    width:100%;
    background: rgba(0,0,0,0.6);
    height: 60vh;
    position: relative;

}
.hero-img::before{
    background-color: #fefefe;
    content: "";
    /* background: url(img4.jpg); */
    background: url("https://www.istockphoto.com/photo/robot-brain-computing-programming-codes-on-cyberspace-gm1383841813-443517952");
    background-size: cover;
    background-position: center;
    width:100%;

    height:100%;
    position: absolute;
    z-index: -1;


}
/* .heading{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 3rem;
    text-align: center;
    justify-content: center;
} */


.heading{
    width:100%;
    height: 100%;
    display: flex;flex-direction: column;

    justify-content: center;
    align-items: center;

}

.hero-img h1{
    color: #fff;
    font-size: 3rem;
    text-align: center;
}
.hero-img p{
    margin-top: 1rem;
    font-size: 1.2rem;
    text-align: center;
}
@media screeen and (max-width:790px){
        
  

    .hero-img h1{
        font-size: 2rem;
    }

    
}