/* <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet"> */


@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;300;400;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
    scroll-behavior: smooth;}

    body{
        background-color: black; 
        color: whitesmoke;
        font-size: 16px;
        line-height: 1.6;

    }

    h1,h4 ,h6,p{
        color:#fff;
        

    }

    ul{list-style-type: decimal;}

    .btn{
        padding: 12 px 32px;
        font-size: 1rem;
        text-transform: uppercase;
        color:#222;
        border:1px solid #fff;
        cursor: pointer;
        font-weight: 600;

    }
    .btn-light{
        font-size: 1rem;
        font-weight: 700;
        background: transparent;
        color:#fff

    }
    .btn:hover{
        background: rgba(255,255,255,0.3);
        color:#fff;
        transition: all 0.3s ease;




    }



    












