.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: #333;
    color: #fff;
    z-index: 10;
    height: 90px;
    width:100%;
    position: fixed;
}
.header-bg{
    background: #000;
    transition: all 0.3s ease;

}

.nav-menu{
    display: flex;


}

.nav-menu li{
    padding: 0 1.2rem; 
    /* top to bottom left to right 1.2rem */
}

.nav-menu li a{
    font-size: 1.3rem;
    font-weight: 400;
}

.hamburger{
    display: none;
    font-size: 1.5rem;
    cursor: pointer;
    color: #fff;
    display: none;
}








.btn-light{
    text-transform: uppercase;
    background: rgb;
    border: 1px solid #fff;
    cursor: pointer;
font-weight: 600;
    color: #baa7a7;
    padding: 10px 20px;
    border-radius: 5px;
    transition: all 0.3s ease;
    font-size: 14px;
}



    @media screen and (max-width:1030px){
        .nav-menu{
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100vh;
            top:0;
            left:-100%;
            z-index: -3;
        }
          

        .nav-menu.active{
            left:0;
            transition: all 0.3s ease;
            background-color: #333;
        }
        .nav-menu li{
            padding: 2 rem 0;

        }

        .nav-menu li a{
            font-size: 2 rem;

        }
        .hamburger{         
            display: initial;

        }
        
    }